.app{
  display: grid;
  grid-template-rows: 150px auto;
  margin-top: 5%;
}

.app_main{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column{
  width: 33.3%;
  margin: 20px;;
}

.button_align{
  float: left;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
}


.app_header{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dcdcdc;
}

.task_input{
  font-size: 20px;
  font-weight: 500;
  background: #f9f9f9;
  color: black;
  border: 1px solid #dfe3e6;
  border-radius: 5px;
  padding: 8px 2px;
  margin-bottom: 15px;
  width: 60%;
  margin-left: 20%;
}

.tag{
  margin-bottom: 15px;
  width: 80%;
  margin-left: 30%;
  

}

.task_status{

  float: right;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20%;
}

.submit_button{
  width: 100%;
}
.task_submit{
  width: 40%;
  margin: 10px 30%;
  padding : 10px 2px;
  background-color: cornflowerblue;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.task_submit ::hover{
  width: 40%;
  margin: 10px 30%;
  padding : 10px 2px;
  background-color: rgb(184, 22, 184);
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.task_submit ::after{
  width: 40%;
  margin: 10px 30%;
  padding : 10px 2px;
  background-color: rgb(184, 22, 184);
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.task_column_icon{
  width: 30px;
  margin-right: 5px;
}

.task_column_heading{
  display: flex;
  align-items: center;
}

.task_card{
  width: 100%;
  min-height: 100px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 50x;
  margin: 15px 0;
}

.task_text{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.task_card_delete_icon{
  width: 15px;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}

.task_card_delete_icon:hover{
  opacity: 80%;
}

.task_Card_bottom_line{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_card_delete{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task_card_delete:hover{
  background-color: #ebebeb;
}

.task_card_tags{
  display: flex;
  align-items: left;
}